.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.pageWrapper {
  display: flex;
  min-height: 100vh;
  padding-left: 300px;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  padding: 30px 0;
}
.mainForm-submit {
  margin-top: 20px;
}
.mainList-item-functional {
  margin: 0;
  padding: 0;
}
.mainList-item-functional li {
  display: inline-block;
}
.main-container {
  /*padding: 0 30px;*/
}
.categoryForm {
  padding: 0 15px;
  display: flex;
  align-items: flex-end;
}
.categoryForm-input {
  width: 100%;
}
.categoryItem {
  display: flex;
}
.categoryItem-title {
  width: 100%;
}
.categoryItem i {
  cursor: pointer;
}